{% extends "base.html" %} {% block body %}

<div class="text-center">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            {% if job.file == None and job.status == job_status.FINISHED %}
            <h2>No CSV file generated. Please check the input.</h2>
            {% else %}
            <h2> Your job is {{ job.status }} </h2>
            {% endif %}

            <h4> Start Time: {{ job.sys_created_on }}</h4>

            {% if job.sys_updated_on != None %}
            <h4> End Time: {{ job.sys_updated_on }} </h4>
            {% endif %} {% if job.status == job_status.RUNNING %}
            <div class="lds-dual-ring"></div>
            {% elif file_name != None %}
            <a href=" {{ url_for('download.download', file_name=file_name) }} " class="btn btn-success">Download CSV</a> {% endif %}

        </div>
    </div>

    <a href="{{ url_for('home.index') }}">Go Back</button></a>
</div>

{% endblock %}