{% extends "base.html" %} {% block body %}

<div class="container">
    <div class="row bg-3">
        <div class="col-md-6 col-md-offset-3">
            {% if job.status == JobStatus.FINISHED %}
            <div class="panel panel-success">
                {% elif job.status == JobStatus.FAILED %}
                <div class="panel panel-danger">
                    {% else %}
                    <div class="panel panel-primary"></div>
                    {% endif %}
                    <div class="panel-heading text-center">Your job is {{ job.status }}</div>
                    <div class="panel-body">
                        {% if job.file == None and job.status == JobStatus.FINISHED %}
                        <h3>No CSV file generated. Please check the input.</h3>
                        {% endif %}

                        <p><b>Job Type</b>: {{ job.jobType }}</p>
                        {% for k, v in job.detail_dict().items() %}
                        <p><b>{{ k | capitalize }}</b>: {{ v }}</p>
                        {% endfor %}

                        <p><b>Start Time</b>: {{ job.sys_created_on }}</p>

                        {% if job.sys_updated_on != None %}
                        <p><b>End Time</b>: {{ job.sys_updated_on }}</p>
                        {% endif %} {% if job.status == JobStatus.RUNNING %}
                        <div class="lds-dual-ring"></div>
                        {% elif file_name != None %}
                        <a href=" {{ url_for('download.download', file_name=file_name) }} " class="btn btn-success">Download CSV</a> {% endif %}
                    </div>
                    <div class="panel-footer text-center">
                        <a href="{{ url_for('home.index') }}">Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}