{% extends "base.html" %} {% block body %}
<div class="container h-100">
    <div class="d-flex h-100">
        <h2>All Jobs</h2>

        <table class="table">
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Info</th>
                <th>Status</th>
                <th>Creation time</th>
            </tr>

            {% for job in jobs %}
            <tr>
                <td><a href="{{ url_for('jobs.detail', job_id=job.id) }}">{{ hash(job.id, 8) }}</a> </td>
                <td>{{ job.jobType }}</td>
                <td>
                    {% for k, v in job.detail_dict().items() %}
                    <b>{{ k | capitalize }}</b>: {{ v }}<br />
                    {% endfor %}
                </td>
                <td>{{ job.status }}</td>
                <td>{{ job.sys_created_on }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>

{% endblock %}