body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
    background-color: #BA0C2F; /* Bulldog Red */
    color: #ffffff;
  }
  .bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 {
    background-color: #000000; /* Bulldog Black */
    color: #fff;
  }
  .story-bg{
    background-color: #ffffff; /* White */
    color: black;
  }
  .container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }


    body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    }

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 450;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .card_search_input{
        color: white;
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        caret-color:transparent;
        line-height: 40px;
        transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

    .card:hover{
         background: #fdad5c !important;
    }

   .card{
        margin-top: 40px;
        min-height: 270px !important;
        height: 270px !important;
        background: white;
   }
   .card-body{
        min-height: 250px !important;
        height: 250px !important;
        padding: 5px !important;
   }
   .card-title{
        color: black;
        font-size: 16px !important;
        font-weight: bold;
   }
   .card-text{
        color: black;
        font-size: 11px !important;
        overflow: hidden;
   }

   .card-link{
        float: bottom;
        background: gray;
   }

   .card-link-a{
        color: white !important;
        font-size: 14px;
        font-weight: bold;
   }

   #story_body{
    height: 500px;
    overflow-y: scroll;
    text-align:justify;
   }

   .help > p > a{
    color: white !important;
   }