{% extends "base.html" %} {% block body %}
<div class="text-center">

    <script src="{{url_for('static', filename='js/api.js')}}"></script>

    <div class="text-center">

        <form id="form_search" onsubmit="return apiCall(this)" method="post">
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <h1>API</h1>
                    <div class="row">
                        <div class="col-md-12">
                            <label>URL</label>
                            <input type="text" name="url" id="api_url">
                            <input type="radio" name="json_format" id="flat" value="flat" checked>
                            <label>Flat</label>
                            <input type="radio" name="json_format" id="structured" value="structured">
                            <label>Structured</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Submit" class="apiUrl">
                        </div>
                    </div>
                </div>
            </div>
            <a href="/">Go Back</button></a>
            <div id="data-link"></div>
        </form>
    </div>

    {% endblock %}