{% extends "base.html" %}

{% block body %}
<script src="{{url_for('static', filename='js/api.js')}}"></script>
    {% if error %}
    <span>Invalid Fhir Resource</span>
    {% endif %}
    {% if error == False %}
    <input type="hidden" name="safe_path" id="safe_path" value= {{ safe_path }} >
    {% endif %}
  <form id="form_search" onsubmit="return apiCall(this)" method="post">
  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <h1>API</h1>
        <label>URL</label>
        <input type="text" name="url" style="color:black">
      <input type="submit" value="Submit" class="apiUrl">
    </div>
  </div>
      <div id="data-link">
          <a href="/">Go Back</button></a>
      </div>

  </form>
<script>
    if (document.getElementById('safe_path') != null) {
        var url = window.location.origin + '/api/download';
        console.log(url);
        safe_path = document.getElementById('safe_path').value;
        console.log(safe_path);
        if (safe_path != '') {
            var params = "?safe_path=" + safe_path;
            console.log(params)
            var http = new XMLHttpRequest();
            http.open("POST", url + params, true);
            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            http.send(null)
            http.onreadystatechange = function() {
              console.log(http.readyState)
              console.log(http.status)
                if (http.readyState === 4 && http.status === 200) {
                    const blob = new Blob([http.response]);
                    const url = window.URL.createObjectURL(blob);

                    const link = document.createElement('a')
                    link.href = url
                    link.download = "data_file.csv"
                    link.text = "Download"
                    link.click()
                    document.getElementById('data-link').append(link);
                    setTimeout(() => {
                        window.URL.revokeObjectURL(url);
                        link.remove();
                    }, 30000);
                }

            }
        }

    }
</script>
{% endblock %}