{% extends "base.html" %} {% block body %}
    <div class="container movedown">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h5>FORM</h5>
                    </div>
                    <div class="panel-body">
                        <form id="form_search" action="{{ url_for('form.create_form_job') }}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="btn btn-success btn-file btn-block">
                                    Click me to browse FORM Files<input type="file" name="file" style="display: none;">
                                </label>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Convert CSV" class="btn btn-success btn-block">
                            </div>

                            <div class="form-group">
                                <input type="button" value="Go back" onclick="history.back()" class="btn btn-default btn-block">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}