{% extends "base.html" %} {% block body %}
<div class="text-center">
    <form id="form_search" action="/form" method="post" enctype="multipart/form-data">>
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <h1>FORM</h1>
                <input type="file" name="file">

                <p>URL</p>
                <input type="text" name="url">
                <input type="submit" value="Submit">
            </div>
        </div>
        <input type="button" value="Go back" onclick="history.back()">
    </form>
</div>

{% endblock %}