{% extends "base.html" %} {% block body %}

<div class="container">

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>HTML</h1>
            <form id="form_search" action="{{ url_for('html.create_html_job') }}" method="post">
                <div class="form-group">
                    <label for="url">URL</label>
                    <input type="text" name="url" class="form-control">
                </div>

                <input type="submit" value="Submit" class="htmlUrl btn btn-success">
            </form>
            <br>
            <input type="button" value="Go back" onclick="history.back()" class="btn btn-default">
        </div>
    </div>
</div>
{% endblock %}