{% extends "base.html" %} {% block banner %}
<div class="bg-1 text-center">
    <h1>Select Data Source</h1>
    <div class="col-md-12">
        <a href="{{ url_for('form.form') }}" class="btn-primary">Form</a>
        <a href="{{ url_for('api.api') }}" class="btn-primary">API</a>
        <a href="{{ url_for('html.html') }}" class="btn-primary">HTML</a>
        <a href="{{ url_for('pdf.pdf') }}" class="btn-primary">PDF</a>
    </div>

</div>

<div class="clearfix">
    <div class="row">
        <h1>Current Design Above</h1>
        <h1>Card Layout Start</h1>
    </div>
</div>

<div class="container bg-3">
    <div class="row">
        <div class="col-sm-6">
            <div class="card card-primary text-center">
              <div class="card-body">
                <h3 class="card-title">Form</h3>
                <p class="card-text">I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                </p>
              </div>
              <div class="card-footer text-muted">
                <a href="{{ url_for('form.form') }}" class="btn btn-success btn-block"><i class="fab fa-wpforms"></i></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">API</h3>
                <p class="card-text">I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                </p>
              </div>
              <div class="card-footer text-muted">
                <a href="{{ url_for('api.api') }}" class="btn btn-success btn-block"><i class="fas fa-code"></i></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">HTML Table</h3>
                <p class="card-text">I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                </p>
              </div>
              <div class="card-footer text-muted">
                <a href="{{ url_for('html.html') }}" class="btn btn-success btn-block"><i class="fas fa-table"></i></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">PDF</h3>
                <p class="card-text">I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                </p>
              </div>
              <div class="card-footer text-muted">
                <a href="{{ url_for('html.html') }}" class="btn btn-success btn-block"><i class="fas fa-table"></i></a>
              </div>
            </div>
          </div>
    </div>

    <div class="clearfix">
        <div class="row">
            <h1>Card Layout End</h1>
            <h1>Panel Layout Start</h1>
        </div>
    </div>

    <div class="row bg-3">
        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">Form</div>
                <div class="panel-body">
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl                
                </div>
                <div class="panel-footer">
                    <a href="{{ url_for('form.form') }}" class="btn btn-success btn-block"><i class="fab fa-wpforms"></i></a>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">API</div>
                <div class="panel-body">
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl                
                </div>
                <div class="panel-footer">
                    <a href="{{ url_for('api.api') }}" class="btn btn-success btn-block"><i class="fas fa-code"></i></a>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">HTML</div>
                <div class="panel-body">
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl               
                </div>
                <div class="panel-footer">
                    <a href="{{ url_for('html.html') }}" class="btn btn-success btn-block"><i class="fas fa-table"></i></a>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">PDF</div>
                <div class="panel-body">
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl
                    I dont think people will read this but okdhfasjfjdklsajl                
                </div>
                <div class="panel-footer">
                    <a href="{{ url_for('pdf.pdf') }}" class="btn btn-success btn-block"><i class="far fa-file-pdf"></i></a>
                </div>
              </div>
        </div>
    </div>
</div>
<div class="clearfix">
    <div class="row">
        <h1>Panel Layout End</h1><br/>
    </div>
</div>
{% endblock %}