{% extends "base.html" %} {% block banner %}
<div class="container bg-3 movedown">
    <div class="row bg-3 home-cards">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">Form</div>
                    <div class="panel-body">
                        Parse medical forms in PDF files using pre-define form template.
                    </div>
                    <div class="panel-footer">
                        <a href="{{ url_for('form.form') }}" class="btn btn-success btn-block"><i class="fab fa-wpforms"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">API</div>
                    <div class="panel-body">
                        Parse API response from JSON format into CSV files.
                    </div>
                    <div class="panel-footer">
                        <a href="{{ url_for('api.api') }}" class="btn btn-success btn-block"><i class="fas fa-code"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">HTML</div>
                    <div class="panel-body">
                        Parse HTML table into CSV files.
                    </div>
                    <div class="panel-footer">
                        <a href="{{ url_for('html.html') }}" class="btn btn-success btn-block"><i class="fas fa-table"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">PDF</div>
                    <div class="panel-body">
                        Parse generic tables or forms inside PDF files into CSV files.
                    </div>
                    <div class="panel-footer">
                        <a href="{{ url_for('pdf.pdf') }}" class="btn btn-success btn-block"><i class="far fa-file-pdf"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .panel-body {
        min-height:
    }
</style>
{% endblock %}